<!DOCTYPE html>
<html lang="" en>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous">
    </script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid padding-ls padding-le">
        <a class="F1 text-center navbar-brand" href="http://localhost:3000/">mvc test-63050212 Annisa</a>
        <!-- <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-warning" href="http://localhost:3000/" >Search</button>
        </form> -->
    </div>
</nav>
<style>
    .F1 {
        font-family: "Times New Roman", Times, serif;
    }
    .padding-ls {
        padding-inline-start: 4.0%;
    }
    .padding-le {
        padding-inline-end: 4.0%;
    }
</style>
